<!DOCTYPE html>
<html lang="fr" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/materialize.css">
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>Ajouter un membre</title>
</head>

<body>
  <nav class="navmargin">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Gestion projets</a>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="row">
        <div class="col s12 m6 offset-m3">
          <div class="card center-align mg">
            <div class="card-content">
              <span class="card-title">Inviter un collaborateur</span>
              <div class="row">
                <% if (typeof  error != 'undefined') { %>
                <div class="card-pannel small red darken-2 white-text"><%= error %></div>
                <% } %>
              </div>
              <form action="/user/<%= userLogin %>/projects/<%= projectName %>/addMember" method="POST">
                <div class="input-field">
                  <label for="memberString" class="active">Login / Email</label>
                  <input name="memberString" type="text" class="validate" placeholder="Login/Email" required>
                </div>
                <div class="row membersubmitrow">
                  <div class="col s6 center-border">
                    <label>
                      <input name="inputType" type="radio" value="login" checked />
                      <span>Login</span>
                    </label>
                    <label>
                      <input name="inputType" type="radio" value="mail" />
                      <span>Email</span>
                    </label>
                  </div>
                  <div class="col s6">
                    <button class="btn-large waves-effect waves-light" type="submit" name="action">
                      Inviter
                      <i id="submitmember" class="material-icons right">send</i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>