<td>
  <input name='num' id='idfield' type='number' class='validate num-input' maxlength='2' placeholder='ID' required>
</td>
<td>
  <input name='description' id='descfield' type='text' class='validate' placeholder='description' required>
</td>
<td>
  <select class='browser-default' id='priofield' name='priority'>
    <option value='' disabled selected>Priorité</option>
    <option value='HIGH'>High</option>
    <option value='LOW'>Low</option>
  </select></td>
<td></td>
<td><input name='difficulty' id='difffield' type='number' class='validate num-input' required>
<td>
  <select class='browser-default' id='sprintfield' name='sprint'>
    <option value='' disabled selected>Sprint</option>
    <option value=''>Aucun</option>
    <% sprints.forEach(sprint => { %>
      <option value='<%= sprint._id %>' ><%= sprint.num %></option>
    <% }); %>
  </select>
</td>
</td>
<td>
  <a id='submitNewIssue' class='btn-floating waves-effect waves-light'><i class='material-icons'>done</i></a>
  <a id='dismissNewIssue' class='btn-floating waves-effect waves-light red'><i class='material-icons'>close</i></a>
</td>